body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container, .survey-container, .login-container, .dashboard-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

select, button {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.hidden {
    display: none;
}

.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

#surveyChart {
    width: 200;
    height: 200;
}